.training-card__top{
    background: #000;
    padding: 10px 20px;

}

.training-card__top{
    display: flex;
    justify-content: space-between;
    color: #ddd;
}


.training-card__body{
    background: #fff;
    padding: 20px 20px;
}
