.training{
    background: #fff;
    margin-bottom: 50px;
}

.training__top{
    background: #000;
    padding: 10px 20px;
}

.training__muscle{
    color: #dddddd;
    font-size: 16px;
}

.training__body{
    background: #fff;
    padding: 20px 20px;
}

