.modal{
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.modal__bg{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  &.dark{
    background: rgba(0, 0, 0, 0.5);
  }
}

.modal__content{
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
  max-width: 600px;
  width: 100%;
  background: #fff;
  padding: 40px 30px;
  border-radius: 5px;
  margin: auto;
  box-shadow: 2px 2px 15px rgba(0, 0, 0 , 0.3);
}

.modal__close{
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px;
}


