.select{
    position: relative;
    &.open .select__arrow{
        transform: rotate(180deg);
    }
}
.select__label{
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

.select__top{
    display: flex;
    align-items: center;
    border: 2px solid #000;
    padding: 5px 10px;
    cursor: pointer;
}

.select__arrow{
    width: 14px;
    height: 14px;
    margin-left: auto;
}

