.select__label{
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

.select__top{
    display: flex;
    align-items: center;
    border: 2px solid #000;
    padding: 10px;
}


.select__arrow{
    width: 20px;
    height: 20px;
    margin-left: auto;
}
